In [1]:
import pandas as pd
import numpy as np
import os

## Importing data

In [9]:
path = r'C:\Users\muham\OneDrive\Desktop\careerfoundry\Data Immersion\Achievement 6\05-10-25 Accident_data_germany_2024_analysis'

In [4]:
file_path = r'C:\Users\muham\OneDrive\Desktop\careerfoundry\Data Immersion\Achievement 6\05-10-25 Accident_data_germany_2024_analysis\02 Data\Original Data\Unfallorte2024_LinRef.csv'

df = pd.read_csv(
    file_path,
    sep=';',            # <-- use semicolon, crucial
    decimal=',',        # <-- German decimal separator
    encoding='utf-8',   # try 'latin1' if utf-8 gives errors
    dtype={'UIDENTSTLAE': str},  # keep long IDs as text
    low_memory=False
)

print("✅ Rows:", len(df))
print("✅ Columns:", len(df.columns))
print("✅ Column names:", df.columns.tolist()[:10])  # first 10 column names
print(df.head(3))

✅ Rows: 268519
✅ Columns: 26
✅ Column names: ['OID_', 'UIDENTSTLAE', 'ULAND', 'UREGBEZ', 'UKREIS', 'UGEMEINDE', 'UJAHR', 'UMONAT', 'USTUNDE', 'UWOCHENTAG']
   OID_           UIDENTSTLAE  ULAND  UREGBEZ  UKREIS  UGEMEINDE  UJAHR  \
0     1  01240526125013102024      1        0      59         44   2024
1     2  01240526105132502024      1        0      62         94   2024
2     3  01240525171013972024      1        0      60         88   2024

   UMONAT  USTUNDE  UWOCHENTAG  ...  IstPKW  IstFuss  IstKrad  IstGkfz  \
0       5       23           1  ...       1        0        0        0
1       5       23           1  ...       1        0        0        0
2       5       18           7  ...       0        0        1        0

   IstSonstige      LINREFX       LINREFY  XGCSWGS84  YGCSWGS84  PLST
0            0  525162.3763  6.045497e+06   9.389076  54.556380     1
1            0  600576.0902  5.964744e+06  10.527878  53.821498     1
2            0  574734.0795  5.969977e+06  10.136678  53.872878     1

[3 rows x 26 columns]

In [5]:
df.shape

(268519, 26)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 268519 entries, 0 to 268518
Data columns (total 26 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   OID_                268519 non-null  int64
 1   UIDENTSTLAE         268519 non-null  object
 2   ULAND               268519 non-null  int64
 3   UREGBEZ             268519 non-null  int64
 4   UKREIS              268519 non-null  int64
 5   UGEMEINDE           268519 non-null  int64
 6   UJAHR               268519 non-null  int64
 7   UMONAT              268519 non-null  int64
 8   USTUNDE             268519 non-null  int64
 9   UWOCHENTAG          268519 non-null  int64
 10  UKATEGORIE          268519 non-null  int64
 11  UART                268519 non-null  int64
 12  UTYP1               268519 non-null  int64
 13  ULICHTVERH          268519 non-null  int64
 14  IstStrassenzustand  268519 non-null  int64
 15  IstRad              268519 non-null  int64
 16  IstPKW              268519 non-null  int64
 17  IstFuss             268519 non-null  int64
 18  IstKrad             268519 non-null  int64
 19  IstGkfz             268519 non-null  int64
 20  IstSonstige         268519 non-null  int64
 21  LINREFX             268519 non-null  float64
 22  LINREFY             268519 non-null  float64
 23  XGCSWGS84           268519 non-null  float64
 24  YGCSWGS84           268519 non-null  float64
 25  PLST                268519 non-null  int64
dtypes: float64(4), int64(21), object(1)
memory usage: 53.3+ MB

In [7]:
df.describe()

,OID_,ULAND,UREGBEZ,UKREIS,UGEMEINDE,UJAHR,UMONAT,USTUNDE,UWOCHENTAG,UKATEGORIE,...,IstPKW,IstFuss,IstKrad,IstGkfz,IstSonstige,LINREFX,LINREFY,XGCSWGS84,YGCSWGS84,PLST
count,268519.000000,268519.000000,268519.000000,268519.000000,268519.000000,268519.0,268519.000000,268519.000000,268519.000000,268519.000000,...,268519.000000,268519.000000,268519.000000,268519.000000,268519.000000,268519.000000,2.685190e+05,268519.000000,268519.000000,268519.000000
mean,134260.000000,7.344087,2.813760,42.256727,63.607763,2024.0,6.677758,13.408560,4.084139,2.826247,...,0.735605,0.090899,0.134046,0.041189,0.132989,550353.079455,5.638393e+06,9.718540,50.874742,1.024471
std,77514.902804,3.664242,2.474134,26.092563,107.881418,0.0,3.176227,4.823606,1.890168,0.402332,...,0.441011,0.287465,0.340703,0.198727,0.339563,151270.405940,1.980447e+05,2.163324,1.777496,0.154507
min,1.000000,1.000000,0.000000,1.000000,0.000000,2024.0,1.000000,0.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,280775.436000,5.240628e+06,5.872647,47.312196,1.000000
25%,67130.500000,5.000000,1.000000,15.000000,0.000000,2024.0,4.000000,10.000000,2.000000,3.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,424526.356000,5.472138e+06,7.936174,49.391618,1.000000
50%,134260.000000,7.000000,2.000000,41.000000,17.000000,2024.0,7.000000,14.000000,4.000000,3.000000,...,1.000000,0.000000,0.000000,0.000000,0.000000,533768.274900,5.662084e+06,9.483060,51.050365,1.000000
75%,201389.500000,9.000000,4.000000,64.000000,91.000000,2024.0,9.000000,17.000000,6.000000,3.000000,...,1.000000,0.000000,0.000000,0.000000,0.000000,676817.093650,5.793110e+06,11.439628,52.275843,1.000000
max,268519.000000,16.000000,9.000000,91.000000,718.000000,2024.0,12.000000,23.000000,7.000000,3.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,919683.311600,6.098313e+06,15.010648,55.030238,2.000000

## Data Cleaning

In [8]:
#looking for missing values
df['OID_'].value_counts(dropna = False)

OID_
268519    1
1         1
2         1
3         1
4         1
         ..
11        1
12        1
13        1
14        1
15        1
Name: count, Length: 268519, dtype: int64

In [9]:
for col in df.columns:
    types_in_col = df[col].map(type)
    if len(types_in_col.unique()) > 1:
        print(f"Column '{col}' has mixed data types: {types_in_col.unique()}")

In [10]:
# Check for nulls in all columns
null_counts = df.isnull().sum()

# Display columns with at least one null value
print(null_counts[null_counts > 0])

Series([], dtype: int64)

In [11]:
# finding full duplicates
df_dups = df[df.duplicated()]

In [12]:
df_dups

Empty DataFrame
Columns: [OID_, UIDENTSTLAE, ULAND, UREGBEZ, UKREIS, UGEMEINDE, UJAHR, UMONAT, USTUNDE, UWOCHENTAG, UKATEGORIE, UART, UTYP1, ULICHTVERH, IstStrassenzustand, IstRad, IstPKW, IstFuss, IstKrad, IstGkfz, IstSonstige, LINREFX, LINREFY, XGCSWGS84, YGCSWGS84, PLST]
Index: []

[0 rows x 26 columns]

In [7]:
#changing column names to english
column_mapping = {
    "UIDENTSTLAE": "accident_id",
    "ULAND": "state",
    "UREGBEZ": "administrative_region", 
    "UKREIS": "administrative_district",
    "UGEMEINDE": "municipality",
    "UJAHR": "year_of_accident",
    "UMONAT": "month_of_accident",
    "USTUNDE": "hour_of_accident",
    "UWOCHENTAG": "day_of_week",
    "UKATEGORIE": "accident_category",
    "UART": "collision_type",
    "UTYP1": "accident_behavior_type",
    "ULICHTVERH": "light_conditions",
    "IstRad": "accident_with_bicycle",
    "IstPKW": "accident_with_pessenger_car",
    "IstFuss": "accident_with _pedestrian",
    "IstKrad": "accident_with_motorcycle",
    "IstGkfz": "involving_heavy_goods_vehicle",
    "IstSonstige": "other_vehicle_involved",
    "IstStrassenzustand": "road_surface_conditions",
    "LINREFX": "UTM_X", # X coordinate in ETRS89 / UTM Zone 32N (EPSG:25832)
    "LINREFY": "UTM_Y", # Y coordinate in ETRS89 / UTM Zone 32N
    "XGCSWGS84": "Longitude_WGS84", # Longitude in WGS84 (EPSG:4326), decimal degrees
    "YGCSWGS84": "Latitude_WGS84", # Latitude in WGS84 (EPSG:4326), decimal degrees
    "PLST": "location_check_level" # Level of success in geocoding the accident to a road section
}
df.rename(columns=column_mapping, inplace=True)

In [14]:
df.head()

,OID_,accident_id,state,administrative_region,administrative_district,municipality,year_of_accident,month_of_accident,hour_of_accident,day_of_week,...,accident_with_pessenger_car,accident_with _pedestrian,accident_with_motorcycle,involving_heavy_goods_vehicle,other_vehicle_involved,UTM_X,UTM_Y,Longitude_WGS84,Latitude_WGS84,location_check_level
0,1,01240526125013102024,1,0,59,44,2024,5,23,1,...,1,0,0,0,0,525162.3763,6.045497e+06,9.389076,54.556380,1
1,2,01240526105132502024,1,0,62,94,2024,5,23,1,...,1,0,0,0,0,600576.0902,5.964744e+06,10.527878,53.821498,1
2,3,01240525171013972024,1,0,60,88,2024,5,18,7,...,0,0,1,0,0,574734.0795,5.969977e+06,10.136678,53.872878,1
3,4,01240525171013602024,1,0,60,47,2024,5,16,7,...,1,0,0,0,0,567578.5791,5.963042e+06,10.026341,53.811536,1
4,5,01240525171013522024,1,0,60,4,2024,5,19,7,...,1,0,0,0,0,561431.0420,5.973290e+06,9.935041,53.904395,1

In [10]:
# exporting clean data frame
df.to_csv(os.path.join(path, '02 Data','Prepared Data', 'df_cleaned.csv'))